*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color: #F5F5F5;
}
.md{
    width: 100%;
    height: 40px;
    background-color: #333333;
}
.md .daohang{
    width: 1226px;
    height: 40px;
    margin: 0 auto;
}
.md .daohang .mdzuo{
    width: auto;
    height: 40px;
    float: left;
    line-height: 40px;
    color: #B0B0B0;
    font-size: 12px;
}
.md .daohang .mdzuo a{
    color: #B0B0B0;
}
.md .daohang .mdzuo a:hover{
    color:#ffffff;
}
.md .daohang .mdyou{
    width: auto;
    height: 40px;
    float: right;
    line-height: 40px;
    color: #B0B0B0;
    font-size: 12px;
    margin: 0px 10px;
}
.md .daohang .mdyou a{
    color: #B0B0B0
}
.md .daohang .mdyou a:hover{
    color: #ffffff;
}
.md .daohang .mdyous{
    width: 120px;
    height: 40px;
    float: right;
    line-height: 40px;
    color: #424242;
    font-size: 12px;
}
.mdyous .icon-gouwuche1{
    color: #b0b0b0;
    font-size: 16px;
    text-align: center;
    float: left;
}
.md .daohang .mdyous a{
    display: block;
    color: #B0B0B0;
    text-align: center;
    float: left;
}
.md .daohang .mdyous:hover a{
    color: #ff9700;
}
.md .daohang .mdyous:hover i{
    color: #ff9700;
}
.md .daohang .mdyous:hover{
    background: #fff;
}
.md .daohang .mdyous i{
    margin-left: 25px;
}
.md .daohang .mdzuo span{
    color: #3D3D3D;
}
.md .daohang .mdyou span{
    color: #3D3D3D;
}
.dd{
    width: 100%;
    height: 100px;
    background: #FFFFFF;
}
.dd2{
    width: 100%;
    height: 460px;
    background: #FFFFFF;
}
.dd3{
    width: 100%;
    height: 170px;
    background: #FFFFFF;
}
.dd4{
    width: 100%;
    height: 770px;
    background: #FFFFFF;
}
.et{
    width: 1226px;
    height: 100px;
    margin: 0 auto;
}
.et .logo{
    width: 55px;
    height: 55px;
    background-color: #FF6700;
    float: left;
    margin-top: 22px;
    background-image: url(../img/1.png)
}
.et .dzi{
    width:auto;
    height: 100px;
    float: right;
    margin-right: 90px;
    margin: 0 auto;
}
.et .dzi span{
    line-height: 100px;
    margin-right: 20px; 
}
.et .dzi span:hover{
    color: #FF6700;
}
.et .yin{
    width: 297px;
    height: 75px;
    float: right;
    padding-top: 25px;
    box-sizing: border-box;
}
.et .yin:hover input{
    border-color: rgb(176, 176, 176)
}
.et .yin:hover  button{
    border-color: rgb(176, 176, 176)
}
.et .yin .zoukuang{
    display: block;
    width: 245px;
    height: 50px;
    outline: 0;
    border: 1px solid #eeddee;
    float: left;
    box-sizing: border-box;
    border-right: 0;
}
.et .yin input{
    padding-left:20px;
}
.et .yin .youkuang{
    display: block;
    width: 52px;
    height: 50px;
    float: left;
    outline: 0;
    border: 1px solid #eeddee;
    box-sizing: border-box;
    background-color: #fefefe;
}
.et .yin .youkuang:hover{
    background-color: #ff6700;
    color: #fff;
    border-color: #ff6700;
}
.lunbotu{
    width: 1226px;
    height: 460px;
    background-color: aqua;
    margin: 0 auto;
    position: relative;
}
.lunbo1{
    width: 1226px;
    height: 460px;
    background-color: blue;
    position: relative;
}
.lunbotu .lunbo1 .zj{
    width: 49px;
    height: 61px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 234px;
}
.lunbotu .lunbo1 .zj:hover{
    background-color: #757575;
}
.lunbotu .lunbo1 .yj{
    width: 49px;
    height: 61px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
}
.lunbotu .lunbo1 .zj img{
    display: block;
    margin-top: 15px;
    margin-left: 10px;
}
.lunbotu .lunbo1 .yj img{
    display: block;
    margin-top: 11px;
    margin-right: 10px;
}
.lunbotu .lunbo1 .yj:hover{
    background-color: #757575;
}
.lunbotu .lunbo1>img{
    position: absolute;
}
.lunbotu .lunbo1 .lunbodian{
    width: 110px;
    height: 10px;
    position: absolute;
    bottom: 36px;
    right: 36px;
    margin: auto;
}
.lunbotu .lunbodian li{
    width: 6PX;
    height: 6px;
    float: left;
    margin: 0px 7px 0px;
    border-radius: 50%;
    background-color: #6A7786;
    border: 1px solid #8699B0;
}
.lunbotu .lunbodian li:hover{
    background: #DEDEDE;
    cursor: pointer;
}
.lunbo2{
    width: 234px;
    height: 460px;
    background-color:rgba(0,0,0,0.5 );
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 20px;
    box-sizing: border-box;
}
.lunbo2 a{
    width: 234px;
    height:42px;
    display: block;
    line-height: 42px;
    padding-left: 30px;
    font-size: 14px;
    color: #ffffff;
    box-sizing: border-box;
}
.lunbo2 a:hover{
    background-color: #FF6700;
}
.lunbotu .lunbo2  img{
    float: right;
    margin-top: 10px;
    margin-right: 11px;
}
.situ{
    width: 1226px;;
    height: 170px;
    margin: 14px auto 14px ;
}
.situ .situ1{
    width: 234px;
    height: 170px;
    float: left;
}
.situ .situ1 .situz{
    width: 234px;
    height: 170px;
    float: left;
    background: #5F5750;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.situ .situ1 .situz .lgo{
    width: 70px;
    height: 82px;
    padding: 0 3px;
    background: #5F5750;
    float: left;
}
.situ .situ1 .situz .lgo a{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.situ .situ1 .situz .lgo i{
    font-size: 36px;
    margin-top: 10px;
    color: #CFCDCB;
}
.situ .situ1 .situz .lgo i:hover{
    color: #fff;
}
.situ .situ1 .situz .lgo span:hover{
    color: #fff;
}
.situ .situ1 .situz .lgo span{
    font-size: 12px;
    color: #CFCDCB;
}
.situ .situ2{
    float: right;
}
.situ .situ2 .situy{
    width: 316px;
    height: 170px;
    background-color: #FF6700;
    float: left;
    margin-left: 14px;
}
.guanggao{
    width: 100%;
    height: 150px;
    background: #fff;
}
.guanggao .cgg{
    width: 1226px;
    height: 120px;
    background: red;
    margin: 0 auto;
}
.box{
    width: 1226px;
    height: 672px;
    background-color: aqua;
    margin: 0 auto;
}
.box .top{
    width: 1226px;
    height: 58px;
    background-color:#F5F5F5;
}
.box .top .left{
    text-align: center;
    font-size: 22px;
    float: left;
    margin-top: 10px;
}
.box .top .reight{
     float: right;
     margin-top: 15px;
}
.box .top .reight:hover{
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
    cursor: pointer;
}
.box .bottom{
    width: 1226px;
    height: 614px;
 background-color: #F5F5F5;
}
.bottom .tu2{
    width: 234px;
    height: 300px;
    background-color:#ffffff;
    float: left;
    margin-right: 14px;
    margin-bottom: 14px;

}
.bottom .tu2:hover{
    transform: translateY(-5px);
    transition: 1s;
    box-shadow: 0 0 10px 1px #cccccc;
}
.bottom .tu3{
    width: 234px;
    height: 614px;
    float: left;
    margin-right: 14px;
}
.bottom .tu3:hover{
    transform: translateY(-5px);
    transition: 1s;
    box-shadow: 0 0 10px 1px #cccccc;
}
.bottom .tu4{
    margin-right: 0;
}
.box .bottom .tu2 img{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
.box .bottom .tu2 p{
    text-align: center;
    font-size: 14px;
}
.box .bottom .tu2 pre{
    text-align: center;
    color: #B0B0B0;
    margin-top: 5px;
    white-space: nowrap;
    padding:0 10px;
    overflow: hidden;
    text-overflow:ellipsis;
}
.box .bottom .tu2 .yuan{
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    color: #ff6700;
}
.box .bottom .tu2 s{
    color:#B0B0B0;
}
.box2{
    width: 1226px;
    height: 672px;
    background-color: #ffffff;
    margin: 0 auto;
}
.box2 .top2{
    width: 1226px;
    height: 58px;
    background-color:#F5F5F5;
}
.box .top2 .left2{
    text-align: center;
    font-size: 22px;
    float: left;
    margin-top: 10px;
}
.box2 .top2 .reight2{
    margin-top: 15px;
    margin-left: 20px;
    float: right;
}
.box2 .top2 .reight2 span:hover{
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
    cursor: pointer;
}
.box2 .bottom2{
    width: 1226px;
    height: 614px;
    background-color: #ffffff;
}
.box2 .bottom2 .bigzuo{
    width: 234px;
    height: 100%;
    background-color:white;
    float: left;
}
.box2 .zuo{
    width: 234px;
    height: 300px;
    background-color:blue;
    margin-bottom: 14px;
    margin-right: 14px;
}
.box2 .zuo:hover{
    transform: translateY(-5px);
    transition: 1s;
    box-shadow: 0 0 10px 1px #cccccc;
}
.bigyou{
    width: 992px;
    height: 614px;
    float: right;
    background-color:#F5F5F5;
}    
.bigyou .you:hover{
    transform: translateY(-5px);
    transition: 1s;
    box-shadow: 0 0 10px 1px #cccccc;
}
.bigyou .you:hover .yc{
    transform: translateY(-86px);
    transition:0.3s;
}
.box2 .you{
    width: 234px;
    height: 300px;
    margin-bottom: 14px;
    margin-left: 14px;
    float: left;
    background-color: #ffffff;
    overflow: hidden;
}
.bigyou .you .yc{
    width: 234px;
    height: 86px;
    background: #ff6700;
    margin-top: 44px;
    padding: 5px 30px;
    box-sizing: border-box;
}
.bigyou .you .yc p{
    color: #fff;
    font-size: 12px;
}
.bigyou .you .yc span{
    color: rgba(255,255,255,0.6);
    font-size: 12px;
    padding-left: 10px;
}
.box2 .you2{
    width: 234px;
    height: 143px;
}
.box2 .you3{
    width: 234px;
    height: 143px;
}
.box2 .you img{
    display: block;
    margin: 0 auto;
    margin-top: 34px;
}
.box2 .you p{
    text-align: center;
    color: #333333;
    font-size: 14px;
    margin-top: 10px;
    white-space: nowrap;
    padding:0 10px;
    overflow: hidden;
    text-overflow:ellipsis;
}
.box2 .you pre{
    text-align: center;
    color: #B0B0B0;
    font-size: 12px;
    margin: 0PX 10PX 10PX;
}
.box2 .you .qian{
    color: #FF6700;
}
.box2 .you2 .tupian{
    width: 80px;
    height: 80px;
    float: right;
    margin-right: 5px;
}
.box2 .you2 p{
    width: 94px;
    height: 21px;
    margin: 40px 0 0 40px;
    white-space: nowrap;
    padding:0 10px;
    overflow: hidden;
    text-overflow:ellipsis;
}
.box2 .you2 pre{
    width: 94px;
    height: 21px;
    margin: 10px 0 0 30px;
    font-size: 14px;
    color: #FF6700;
    float: left;
}
.box .liulan{
    width: 94px;
    height: 45px;
    margin: 0 auto;
    float: left;
    margin-left: 30px;
}
.box2 .you3 .tupian1{
    width: 48px;
    height: 48px;
    float: right;
    margin-right: 20px;
}
.box2 .you3 p{
    width: 94px;
    height: 21px;
    margin: 40px 0 0 0;
}
.chang1 img{
    margin-top: 20px;
    margin-bottom: 20px;
}
.tuijian{
    width: 1226px;
    height: 358px;
    background-color: blue;
    margin-top: 20px;
}
.tuijian .tui1{
    width: 1226px;
    height: 58px;
    background-color: #f5f5f5;
}
.tuijian .tui1 p{
     font-size: 22px;
     text-align: center;
     float: left;
     margin-top: 14px;
}
.tuijian .tui2{
    width: 1226px;
    height: 314px;
    background-color: #f5f5f5;
}
.tuijian .tui22{
    width: 234px;
    height: 300px;
    background-color:#ffffff;
    margin-bottom: 14px;
    margin-right: 14px;
    float: left;
}
.tuijian .tui22:hover{
    transform: translateY(-5px);
    transition: 1s;
    box-shadow: 0 0 10px 1px #cccccc;
}
.tuijian .tui33{
    margin-right: 0px;
}
.tuijian .tui2 .tui22 img{
    margin: 0 auto;
    display: block;
    margin-top: 40px;
    margin-bottom: 15px;
}
.tuijian  .tui2 .tui22 p{
    text-align: center;
    font-size: 14px;
    color: #333333;
}
.tuijian  .tui2 .tui22 .qian{
    text-align: center;
    font-size: 14px;
    color: #ff6700;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tuijian  .tui2 .tui22 pre{
    text-align: center;
    font-size: 13px;
    color: #757575;
}
.rp{
    width: 1226px;
    height: 473px;
    background-color: #f5f5f5;
    margin-bottom: 20px;
}
.rp .rp1{
    width: 1226px;
    height: 58px;
    background-color: #f5f5f5;
}
.rp .rp1 p{
    text-align: center;
    font-size: 22px;
    color: #333333;
    float: left;
    margin-top: 14px;
}
.rp .rp2{
    width: 1226px;
    height: 415px;
    margin-top: 14px;
}
.rp .rp2 .rptu{
    width: 296px;
    height: 415px;
    background-color: #ffffff;
    float: left;
    margin-left: 14px;
    margin-bottom: 14px;
}
.rp2 .rptu:hover{
    transform: translateY(-5px);
    transition: 1s;
    box-shadow: 0 0 10px 1px #cccccc;
}
.rp .rp2 .rptu .baozi{
    width: 240px;
    height: 72px;
    margin: 0 auto;
}
.rp .rp2 .rptu1{
    margin-left: 0
}
.rp .rp2 p{
    font-size: 14px;
    margin-top: 10px;
    color: #333333;
}
.rp .rp2 pre{
    margin-top: 30px;
    margin-bottom: 20px;
    color: #b0b0b0;
    margin-left: 28px;
}
.rp2 .rptu a{
    color: #333333;
    font-size: 14px;
    margin-left: 28px;
}
.rp2 .rptu span{
    color: #FF6700;
    font-size: 14px;
}
.rp2 .rptu .gang{
    color: #ECE5E0;
}
.neirong{
    width: auto;
    height: 478px;
    background-color: #ffffff;
}
.neirong .neirong1{
    width: 1226px;
    height: 58px;
    background-color: #F5F5F5;
}
.neirong .neirong2{
    width: 1226px;
    height: 420px;
    background-color: #F5F5F5;
}
.neirong .neirong1 p{
    font-size: 22px;
    margin-top: 8px;
    float: left;
}
.neirong .nrkuai{
    width: 296px;
    height: 420px;
    background-color:#ffffff;
    float: left;
    margin-right: 14px;
    margin-bottom: 14px;
    position: relative;
    border-top: 1px solid #FFAC13;
}
.neirong .nrkuai2{
    border-top: 1px solid #83C44E;
}
.neirong .nrkuai3{
    border-top: 1px solid #E53935;
}
.neirong .nrkuai1{
    border-top: 1px solid #2196F3;
}
.neirong .neirong2 .nrkuai:hover{
    transition: 1s;
    transform: translateY(-5px);
    box-shadow: 0 0 10px 1px #cccccc;
}
.neirong2 p{
    text-align: center;
    margin-top: 45px;
    font-size: 16px;
    color: #ffac13;
}
.neirong2 .wer{
    color: #333333;
    margin-top:10px;
    font-size: 20px; 
    white-space: nowrap;
    padding:0 20px;
    overflow: hidden;
    text-overflow:ellipsis;
}
.neirong2 .wer2{
    height: 34px;
    color:#B0B0B0;
    margin: 10px 48px 10px;
    font-size: 12px; 
}
.neirong2 pre{
    text-align: center;
    font-size: 14px;
    color:#333333;
    margin: 0px 10px 15px;
}
.neirong2 img{
    margin: 0 auto;
    display: block;
}
.nrkuai .hz{
    width: 20px;
    height: 48px;
    position: absolute;
    left: 0;
}
.nrkuai .hz i{
    line-height: 48px;
    color: #fff;
}
.nrkuai:hover .hz{
    background: #B0B0B0;
}
.nrkuai:hover .hy{
    background: #B0B0B0;
}
.nrkuai .hz:hover{
    background-color: #757575;
}
.nrkuai .hy{
    width: 20px;
    height: 48px;
    position: absolute;
    right: 0;
}
.nrkuai .hy:hover{
    background-color: #757575;
}
.nrkuai .hy i{
    line-height: 48px;
    color: #fff;
}
.nrkuai .xd{
    width: 90px;
    height: 30px;
    position: absolute;
    bottom: 40px;
    left: 103px;
}
.nrkuai .xd li{
    width: 6px;
    height: 6px;
    background-color: #B0B0B0;
    margin: 12px;
    float: left;
    border-radius: 50%;
}
.nrkuai .xd li:hover{
    background-color: #FF6700;
    cursor: pointer;
}
.nrkuai2 p.pp{
    color:greenyellow;
}
.nrkuai .xd1{
    width: 120px;
    height: 30px;
    position: absolute;
    bottom: 40px;
    left: 103px;
}
.nrkuai .xd1 li{
    width: 6px;
    height: 6px;
    background-color: #B0B0B0;
    margin: 9px;
    float: left;
    border-radius: 50%;
}
.nrkuai .xd1 li:hover{
    background-color: #FF6700;
    cursor: pointer;
}
.nrkuai3 p.pp{
    color:#E84E4B;
}
.neirong2 .nrkuai1{
margin-right: 0;
}
.nrkuai1 p.pp{
    color:#2196F3;
}
.sp{
    width: 1226px;
    height: 343px;
    background-color: #E84E4B;
    margin-bottom: 10px;
}
.sp .sp1{
    width: 1226px;
    height: 58px;
    background-color:#F5F5F5;
}
.sp .sp1 p{
    float: left;
    font-size: 22px;
    margin-top: 5px;
}
.sp .sp1 a{
    float: right;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 5px;
    color: #424242;
}
.sp .sp1 a:hover{
    color:#FF6700;
}
.sp .sp2{
    width: 1226px;
    height: 285px;
    background-color:#F5F5F5;
}
.sp .sp2 .spt{
    width: 296px;
    height: 285px;
    background-color: #ffffff;
    float: left;
    margin-bottom: 14px;
    margin-left: 14px;
    position: relative;
}
.sp2 .spt i{
    position: absolute;
    left: 20px;
    bottom: 110px;
    font-size: 30px;
    color: #fff;
}
.sp .sp2 .spt:hover{
    transition: 1s;
    transform: translateY(-5px);
    box-shadow: 0 0 10px 1px #cccccc;
}
.sp .sp2 .spt:hover i{
    color: #ff6700;
}
.sp .sp2 .spt1{
    margin-left: 0px;
}
.sp .sp2 .spt a{
    display: block;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    color: #333333;
}
.sp .sp2 .spt a:hover{
    color: #ff6700;
}
.sp .sp2 .spt p{
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    color: #B0B0B0;
}
.ddz{
    width: 1226px;
    height: 272px;
}
.ddz .dds{
    width: 100%;
    height: 80px;
    padding: 27px 0;
    box-sizing: border-box;
    border-bottom: 1px solid#e0e0e0;
}
.dds2{
    width: 1226px;
    height: 192px;
    padding: 40px 0px;
    box-sizing: border-box;
}
.ddz .dz1{
    float: left;
    width: 242.73px;
    height: 25px;
    text-align: center;
    border-right: 1px solid#e0e0e0;
}
.ddz .dz1 i{
    font-size: 24px;
    vertical-align: -2px;
}
.ddz .dz1:hover{
    color: #ff6700;
    cursor: pointer;
}
.ddz .dz11{
    border-right: none;
}
.ddz .dds2 .sh{
    width: 160px;
    height: 112px;
    float: left;
}
.ddz .dds2 .sh dt{
    margin-bottom:25px;
    font-size: 14px;
    color: #424242;
}
.ddz .dds2 .sh dd{
    font-size: 12px;
    color: #757575;
    margin-top: 10px;
}
.ddz .dds2 .sh dd:hover{
    color: #ff6700;
    cursor: pointer;
}
.ddz .dds2 .sh1{
    width: 252px;
    height: 112px;
    float: right;
    border-left: 1px solid#e0e0e0;
}
.ddz .sh1 p{
    font-size: 22px;
    text-align: center;
    color:#ff6700;
}
.ddz .sh1 .sh11{
    text-align: center;
    font-size: 12px;
    color:#616161;
}
.ddz .sh1 .sh12{
    text-align: center;
    font-size: 12px;
    color:#616161;
    margin-bottom: 16px;
}
.ddz .sh1 .sh13{
    width: 120px;
    height: 30px;
    border: 1px solid#ff6700;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    color: #FF6700;
    line-height: 28px;
}
.ddz .sh1 .sh13 i{
    font-size: 14px;
}
.ddz .sh1 .sh13:hover{
    color: #ffffff;
    background-color: #FF6700;
    cursor: pointer;
}
.js{
    width: 1226px;
    height: 210px;
    padding: 30px 0;
    box-sizing: border-box;
}
.js .js1{
    width: 57px;
    height: 57px;
    background-color: #FF6700;
    background-image:url(../img/1.png)
}
.js .js2{
    width: 1159px;
    float: left;
    margin-left: 65px;
}
.js a{
    font-size: 12px;
    color: #757575;
}
.js span{
    color: #b0b0b0;
    font-size: 12px;
}
.js .js2 .js3{
    font-size: 12px;
    color: #b0b0b0;
}
.js a:hover{
    color:#FF6700;
    cursor: pointer;
}
.js .js3:hover{
    cursor: pointer;
}
.tb{
    width: 1226px;
    height: 28px;
    background: #F5F5F5;
    margin-top: 30px;
    padding: 0 0 0 67px;
    box-sizing: border-box;
}
.tb .tb1{
    width: 85px;
    height: 28px;
    float: left;
}
.cdh{
    width: 84px;
    height: 456px;
    background: #FFFFFF;
    position: fixed;
    top: 50%;
    right: 0;
}
.cdh .cdh1{
    width: 84px;
    height: 91px;
    background: #FFFFFF;
    border-bottom: 1px solid #F5F5F5;
}
.cdh .cdh1 a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cdh .cdh1 i{
    font-size: 40px;
    margin-top: 15px;
    color: #999999;
}
.cdh .cdh1 span{
    font-size: 14px;
    color: #999999;
}
.cdh .cdh1 a:hover i{
    color: #ff6700;
}
.cdh .cdh1 a:hover span{
    color: #ff6700;
}